<div class="my-5 text-center">
  Image uploaded. Please, wait for the e-mail notification when compressed version is ready.
</div>

<div class="my-5 text-center">
  <%= link_to "Compress another image", root_path, class: "underline decoration-solid cursor-pointer text-blue-600" %>
</div>